/* 
TODO:
This can be replaced with postcss-font-magician plugin 
https://github.com/jonathantneal/postcss-font-magician

If it doesn't work, download and save it, as if multiple components import this, this will be triggered
multiple times.
*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

/* body font size */
$text-base-size: 1em;

/* type scale */
$text-scale-ratio: 1.2;
$text-xs: 1rem / $text-scale-ratio / $text-scale-ratio;
$text-sm: $text-xs * $text-scale-ratio;
$text-md: $text-sm * $text-scale-ratio * $text-scale-ratio;
$text-lg: $text-md * $text-scale-ratio;
$text-xl: $text-lg * $text-scale-ratio;
$text-xxl: $text-xl * $text-scale-ratio;
$text-xxxl: $text-xxl * $text-scale-ratio;

$text-font: 'Roboto', sans-serif;
$title-font: 'Roboto_Condensed', sans-serif;
