@import './variables.css';
@import './mixins.css';

body {
  background-color: var(--body-primary);

  @mixin sm {
    --text-base-size: 1.05em;
    --text-scale-ratio: 1.25;
  }

  @mixin md {
    font-size: var(--text-md);
    --text-base-size: 1.1em;
    --text-scale-ratio: 1.25;
  }

  @mixin lg {
    font-size: var(--text-lg);
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }

  @mixin xl {
    font-size: var(--text-xl);
  }
}
