@import './variables.css';
@import './mixins.css';

body {
  background-color: var(--body-primary);

  @mixin md {
    font-size: var(--text-md);
  }

  @mixin lg {
    font-size: var(--text-lg);
  }

  @mixin xl {
    font-size: var(--text-xl);
  }
}
