/* Following the Fibonacci sequences. */
:root {
  --space-unit: 1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
}

/* 
If you want media queries variables support, we are in bad shape.
It looks like it is not supported in CSS yet, and the closest
plugin to fix that which is `postcss-media-variables` have a few
issues that prevents us from using it.
This is one of the limits of PostCSS as of 6/2/2020 where SASS
shines over PostCSS. 
*/

@define-mixin md {
  @media (width < 959px) {
    @mixin-content;
  }
}

@define-mixin lg {
  @media (width >= 960px) {
    @mixin-content;
  }
}
