@import './color-palette.css';

:root,
[data-theme='default'] {
  --body-primary: var(--darkBlue);
  --button-border-primary: var(--lightGreen);
  --button-active-primary: var(--darkGreen);
  --content-border-primary: var(--lightGreen);
  --content-primary: var(--darkGreen);
  --content-secondary: var(--normalGreen);
  --text-primary: var(--lightGreen);
  --text-secondary: var(--lightGray);
  --text-strong-primary: var(--lightWhite);
}

[data-theme='dark'] {
  --body-primary: red;
}
