@import './color-palette.css';

:root,
[data-theme='default'] {
  --color-primary: red;
  --body-background-color: var(--darkBlue);
  --text-primary: var(--lightGray);
  --button-border-color: var(--lightGreen);
  --button-active-color: var(--darkGreen);
  --button-text-color: var(--lightGreen);
}

[data-theme='dark'] {
  --color-primary: blue;
}
