@use '@eldo/styles';

.eldo-ThemeSelector {
  display: flex;
  background-color: gray;
  padding: var(--space-xxs);
  border-radius: 3px;

  &__selection {
    width: 20px;
    height: 20px;
    margin-right: var(--space-xs);

    &--default {
      background-color: red;
    }

    &--dark {
      background-color: blue;
    }
  }
}
