@use '@eldo/styles/_index' as styles;

.eldo-CardDeck {
  width: 90px;
  height: 100px;
  background-color: var(--content-secondary);
  border: 2px groove var(--border-primary);
  box-shadow: 4px 4px 5px 2px gray;
}
