@use '@eldo/styles';

/* TODO: extend PlayingCard width/height */
.eldo-FlippedCard {
  border: 2px solid var(--content-border-primary);
  background-color: var(--content-secondary);
  width: 90px;
  height: 100px;

  &__card {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: var(--text-lg);
    color: var(--text-strong-primary);
  }
}
