@use '@eldo/styles' as *;
@use '../../common';

.eldo-UnFlippedCard {
  border: 2px solid var(--border-primary);
  background-color: var(--content-secondary);
  width: common.$cardWidth;
  height: common.$cardHeight;
}
