@import '@eldo/styles';

.eldo-Button {
  color: var(--text-primary);
  border: 2px groove var(--button-border-primary);
  background-color: inherit;
  font: inherit;
  /* @mixin padding(1, 2, 3, 4); */
  padding: var(--space-xs) var(--space-md);
  border-radius: 5px;
  /* transition: 20ms background-color; */
  margin-bottom: var(--space-md);
  cursor: pointer;

  &:focus,
  &:hover {
    border-style: double;
    background-color: var(--button-active-primary);
  }

  &:active {
    background-color: white;
  }
}
