@use '@eldo/styles' as *;

.eldo-Button {
  @include padding(xs, md);
  @include margin(0, 0, md, 0);
  @include enableMotion {
    transition: 200ms background-color;
  }

  color: var(--text-primary);
  border: 2px groove var(--border-primary);
  background-color: inherit;
  font-size: $text-sm;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    color: var(--text-disabled-primary);
    background-color: var(--disabled-primary);
    border-color: var(--border-disabled-primary);
    cursor: default;
  }

  &:focus,
  &:hover:not([disabled]) {
    border-style: double;
    background-color: var(--hover-primary);
  }

  &:active:not([disabled]) {
    background-color: var(--active-primary);
  }
}
